.socVert {
  display: flex;
  flex-direction: column;
}

.socHoriz{
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
  max-width: 200px;
  justify-self: center;
}

.socHoriz > a {
  display: block;
}

svg path{
  stroke: var(--clr-300);
}

.socHoriz > a:hover {
  transform: translateY(-5px)
}

/* TODO: Add hover effects for social icon (y translate(-5) */