.socVert {
  display: flex;
  flex-direction: column;
}

.socHoriz{
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
  max-width: 200px;
  justify-self: center;
}

.socHoriz > a {
  display: block;
  background: linear-gradient(215deg, var(--clr-400), var(--clr-500));
  border-radius: 50%;
  aspect-ratio: 1/1;
  height: 60px;
  padding: .5rem;
  transition: all .2s ease-in-out;
}

svg path{
  stroke: var(--clr-300);
}

.socHoriz > a:hover {
  transform: translateY(-5px)
}