.tag {
  font-size: .85rem;
  display: flex;
  width: fit-content;
  border-radius: 100vh;
  padding: .5rem .75rem;
  color: var(--clr-100);
  background: linear-gradient(215deg, var(--clr-400), var(--clr-500));
  text-align: center;  
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .tag{
    font-size: .75rem;
  }
}