.btn {
  color: var(--clr-text-100);
  background: linear-gradient(215deg, var(--clr-400), var(--clr-500));
  font-family: var(--ff-content);
  border: none;
  border-radius: 100vh;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 1em 2em;
  width: fit-content;
}

/* TODO: Add .btn hover effects */