.section {
  min-height: calc(100vh - var(--nav-height));
  /* Allows easy change of navbar height */
}

.greySection {
  background-color: var(--clr-background-800);
  color: var(--clr-text-100);
}

.purpleSection {
  background: linear-gradient(225deg, var(--clr-800), var(--clr-600));
  color: var(--clr-text-100);
}

.purpleSectionAlt {
  background: linear-gradient(315deg, var(--clr-800), var(--clr-600));
  color: var(--clr-text-100);
}