.section {
  height: calc(100vh - var(--nav-height));
  /* Allows easy change of navbar height */
}

.greySection {
  background-color: var(--clr-background-800);
  color: var(--clr-text-100);
}

.purpleSection {
  background-color: var(--clr-background-600);
  color: var(--clr-text-100);
}