.project {
  padding: 2rem;
  background-color: var(--clr-950);
  backdrop-filter: blur(100px);
  margin: 0 1.5rem;
  border-radius: 10px;
  height: 100%;
}
.project > div > h5 {
  margin: 1rem 0;
  color: var(--clr-100);
  font-size: 2.75rem;
  font-weight: 300;
  font-family: var(--ff-content);
  line-height: 2.75rem;
}

.project > div > p {
  font-size: 1.25rem;
  font-weight: 100;
}

.project >div> p > code {
  color: var(--clr-100)
}


.project > div > div {
  display: flex;
  justify-content: space-evenly;
}
.project > div > div > a {
  background: var(--clr-100);
  display: block;
  padding: 1rem;
  width: fit-content;
  border-radius: 10px;
  margin-top: 1rem;
  text-decoration: none;
  font-weight: 500;
  font-family: var(--ff-header);
  transition: .25s;
}

.project>div>div>a:hover {
  scale: 1.05;
  filter: brightness(1.25);
}

.project > div > div > a.git{
  background: var(--clr-500);
  color: var(--clr-100);
}



.project > div > div > a.live{
  background: var(--clr-100);
}



@media screen and (max-width: 630px){
  .project >div> h5{
    font-size: 2rem;
  }

  .project > div>p {
    font-size: .85rem;
  }
}

@media screen and (max-width: 560px) {
  .project>div>h5 {
    font-size: 1.5rem;
    line-height: 95%;
    word-wrap: break-word;
  }

  .project>div>p {
    font-size: .75rem;
  }
}

@media screen and (max-width: 800px){
  .project{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 2rem;
    border-radius: 0;
  }

  .project > div {
    display: flex;
    flex-direction: column;
  }
}