.aboutDescription {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.positionDescription {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items:baseline;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  font-family: var(--ff-header);
  color: var(--clr-text-200)
}

.positionDescription > h3 {
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.positionDescription > span {
  font-size: 1.5rem;
  font-weight: 400;
}

.selfDescription {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
  color: var(--clr-text-200);
}

.btnText {
  font-size: 1.5rem;
}

.resumeBtnContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.socialsContainer {
  display: flex;
  justify-content: center;
}