/* Form styles */
.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Form label styles */
.contactForm>label {
  color: rgba(184, 186, 197, 1);
  font-size: 2rem;
  font-weight: 500;
}

/* Form input styles (includes standard inputs and text area*/
.contactForm > .textInput {
  color: var(--clr-text-200);
  background-color: var(--clr-background-800);
  width: 100%;
  border: 2px solid var(--clr-text-200);
  border-radius: 5px;
  max-width: 100%;
  max-height: 25vh;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 5px;
  margin-bottom: 2rem;
}

.contactForm > textarea.textInput{
  height: 15vh;
  margin-bottom: 0;
}