@import '../../vars.css';

div.navContainer {
  position: sticky;
  top: 0;
  width: 100%;
  height: var(--nav-height);
  min-height: var(--nav-min-height);
  padding: 30px 14.284% 35px 14.284%;
  background-color: var(--clr-700);
  border-bottom: 5px solid var(--clr-300);
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  margin: 0;
  z-index: 100;
}

div.navContainer > ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--clr-text-200);
}

div.navContainer ul li {
  font-weight: 300;
  font-family: var(--ff-content);
}

div.navContainer ul li.active {
  color: var(--clr-400);
  font-weight: 400;
  font-family: var(--ff-header);
}

.burger {
  display: none;
}

@media screen and (max-width: 975px) {
  .burger {
    display: block;
    color: var(--clr-500);
  }
  
  div.navContainer > ul {
    display: none;
  }

  div.navContainer>ul.expanded {
    display: flex;
    flex-direction: column;
  }

  div.navContainer {
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
    height: var(--nav-height)
  }

  div.navContainer.hasExpanded {
    height: 100%;
  }
}