/* Arrange sections of about page*/
.aboutSectionLayout {
  display: flex;
  flex: 1 1 0px;
  gap: 50px;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
}

.aboutSectionLayout > div.formContainer{
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  
}
/* Arrange sections of about page */
.aboutSectionLayout > div.container {
  flex: 1 1 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.aboutSectionLayout h1 {
  text-align: right;
  font-family: var(--ff-header);
  font-size: 4rem;
  font-weight: 100;
  line-height: 3.25rem;
  margin-bottom: 2rem;
}

.formContainer {
  padding: 10px 10px 10px 20px;
}

@media screen and (max-width: 1542px) {
  div.aboutSectionLayout > div.heroContainer {
    display:none;
  }
}

@media screen and (max-width: 1056px) {
  div.aboutSectionLayout {
    flex-direction: column;
  }

  div.aboutSectionLayout > div.formContainer {
    order: 3;
  }

  div.aboutSectionLayout>div.heroContainer {
    display: flex;
    order: 1;
  }
  div.aboutSectionLayout>div.descriptionContainer {
    order: 2;
    margin-bottom: -10%;
  }

  div.aboutSectionLayout>div.formContainer>div.title>h1 {
    text-align: center;
    display: none;
  }
}

@media screen and (max-width: 650px) {
  div.aboutSectionLayout {
    padding: 1rem;
  }

  .formContainer {
    padding: 0;
  }
}