.carouselContainer {
  background: transparent;
  text-align: center;
  padding: 0px 90px;
  width: 85%;
  margin: 0 auto;
  
}

.projectSlider {
  width: 100%;
  /* margin: 0 auto; */
  position: relative;
  position: unset !important;
}