.carouselContainer {
  background: transparent;
  text-align: center;
  padding: 0px 90px;
  width: 85%;
  margin: 0 auto;
  
}

.projectSlider {
  width: 100%;
  /* margin: 0 auto; */
  position: relative;
  position: unset !important;
}

.mobileProjects {
  display: none;
}

@media screen and (max-width: 800px) {
  .mobileProjects {
      display: flex;
      flex-direction: column;
    }

  .carouselContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  .projectSlider {
    display:none !important; /* See if this can be turned back on with new mobile projects */
  }

  .mobileProjects {
    width: 100%;
  }
}