.formContainer {
  padding: 10px 10px 10px 20px;
  height: 90%;
}

/* Form heading style */
h1 {
  font-size: 4rem;
  font-weight: 600;
  padding-left: 20px;
}

.projectsHeaderContainer {
  display: flex;
  justify-content: center;
  padding: 1rem 0 2rem 0;
}

h2.projectSectionHeader {
  font-size: 3rem;
  text-align: center;
  border-bottom: 3px solid var(--clr-accent-400);
  width: 10%;
  padding-bottom: .25rem;
}

.heroContainer {
  display: flex;
  align-items: start;
}