.carouselContainer {
  background: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  width: 80%;
  margin: 0 auto;
  
}

.projectSlider {
  width: 100%;
  margin: 0 auto;
  position: relative;
}



